/* Wrapper for page content and sidebar */
.wrapper {
  display: flex;
  height: 100vh;
}

/* Sidebar */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #333;
  color: #fff;
  transition: all 0.3s;
  margin-left: -250px; /* hide sidebar by default */
}

#sidebar.active {
  margin-left: 0; /* show sidebar when active */
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #555;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

/* Page content */
#content {
  padding: 20px;
  transition: all 0.3s;
}



.fas.fa-bars:before {
  content: "\f0c9";
}

.fas.fa-times:before {
 
  content: "\f00d";
}
